<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <form>
<<<<<<< HEAD
      <h1>Team Name: <%= "#{@name}" %></h1>
      <h2>Coach: <%= "#{@coach}" %></h2>
      <h2>Point Guard: <%= "#{@pg}" %></h2>
      <h2>Shooting Guard: <%= "#{@sg}" %></h2>
      <h2>Small Forward: <%= "#{@sf}" %></h2>
      <h2>Power Forward: <%= "#{@pf}" %></h2>
      <h2>Center: <%= "#{@c}" %></h2>
=======
      <h1>Team Name: <%= @name %></h1>
      <p>Coach: <%= @coach %> </p>
      <p>Point Guard: <%= @pg %></p>
      <p>Shooting Guard: <%= @sg %></p>
      <p>Small Forward: <%= @sf %></p>
      <p>Power Forward: <%= @pf %></p>
      <p>Center: <%= @c %></p>
>>>>>>> 1c43a9a2475977db4cf6c930165f26514c1b1af0
    </form>

 </body>
</html>


